:root {
    padding: 0;
    margin: 0;
    font: 1em sans-serif;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

aside {
    width: clamp(20%, 1000px, 1400px);
    background: no-repeat left/cover url(forest.jpg);
    position: relative;
}

main {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

main > div {
    padding: 36px;
    background: #f9fafb;
}

.banner {
    position: absolute;
    top: calc(50% - 10vh);
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.banner img {
    width: 10rem;
    height: 10rem;
}

.form-container {
    margin-bottom: 5px;
    background: #fff;
    flex: 0 0 auto;
    box-shadow: 0px 5px 5px rgb(170, 170, 170);
}

.form-container > form > h1 {
    margin: 0;
}

.formfields {
    padding: 36px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.formfields > div {
    display: flex;
    flex-direction: column;
    font-variant: small-caps;
}

.formfields > div > input {
    padding: 4px;
    margin: 0;
    background-color: #f9fafb;
    border: 2px solid #e5e7eb;
    border-radius: 3px;
}

.button-container{
    flex: 1 0 auto;
}

button {
    background-color: #596D48;
    color:#fff;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.credit {
    position: absolute;
    bottom: 10px;
    color:#fff;
    left: 10px;
    font-size: 0.5rem;
}

.credit a{
    color:#fff;
}

p > a {
    font-weight: bold;
    color: #596D48;
    text-decoration: none;
}

input:focus-visible{
    outline: none;
    border: 1px solid rgb(50,150,255);
    box-shadow: 0px 0px 5px 1px rgb(50,100,200);
}

input.error:focus-visible {
    outline: none;
    border: 1px solid rgb(200,50,50);
    box-shadow: 0px 0px 5px 1px rgb(200,50,50);    
}